<!DOCTYPE html>
<html>

<head>
    <% include ../static/partials/head.ejs %>
</head>

<body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

        <h1>Sign Up</h1>

        <form action="/users/signup" method="POST">

            <div class="form-group">
                <label for="name">Username</label>
                <input type="text" class="form-control" name="username" placeholder="Enter username">
                <small class="text-muted" id="nameHelp">username must not be used</small>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" placeholder="Enter email">
                <small class="text-muted" id="emailHelp">email address must be a valid address</small>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Enter password">
                <small class="text-muted" id="passwordHelp">password must match confirmation below</small>
            </div>
            <div class="form-group">
                <label for="passwordConfirmation">Password confirmation</label>
                <input type="password" class="form-control" name="passwordConfirmation"
                    placeholder="Enter password confirmation">
            </div>


            <input type="submit" value="Sign Up" class="btn btn-primary" />
        </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

</body>

</html>